%header.header
  - if @principal_page
    %h1.title-site
      = link_to(root_path) do
        ="Prueba y Error"
      %small.sub-title="Inténtalo. Equivócate. Vuelve a intentarlo."

  - else
    .title-site
      = link_to(root_path) do
        ="Prueba y Error"
      %small.sub-title="Inténtalo. Equivócate. Vuelve a intentarlo."

  -#.collapse.navbar-collapse.navbar-ex1-collapse
  %ul.nav.nav-tabs.nav-justified
    %li{:role => "presentation", :class => (@active_nav.blank?) ? 'active' : nil}
      = link_to("Inicio", root_path)

    %li{:role => "presentation", :class => (!@active_nav.blank? and (@active_nav == 'post_index')) ? 'active' : nil}
      = link_to("Archivo", posts_path)

    %li{:role => "presentation", :class => (!@active_nav.blank? and (@active_nav == 'about')) ? 'active' : nil}
      = link_to("Acerca de", about_path)

    %li{:role => "presentation", :class => (!@active_nav.blank? and (@active_nav == 'contact')) ? 'active' : nil}
      = link_to("Contacto", contact_path)



-# h1 el Titulo del blog solo aquí. En posts#index debe ir en h1 el título de los posts